<h2><%= @course.name %></h2>
<div class="course-date">1 Febuary 2015</div>

<p class="course-desc"><%= @course.description %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category_id %>
</p>

<div class="mod-menu">
<% if can? :update, @course %>
  <%= link_to image_tag('edit.png')+'Edit', edit_course_path(@course), class: 'btn' %> |
  <% end %>
<%= link_to image_tag('back.png')+'Overview', '/courses', class: 'btn' %>
</div>
