<h2><%= @course.name %></h2>
<p class="course-desc"><%= @course.description %></p>

<p>
  <strong>Instructor:</strong>
  <%= @course.user.full_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category.name %>
</p>

<h3>Termine:</h3>
<table>
  <tr>
    <th>Datum</th>
    <th>Ort</th>
  </tr>
<% @course.course_dates.each do |date| %>
  <tr>
    <td class="course-date"><%= date.time.to_s(:short) %></td>
    <td class="course-date"><%= date.place %></td>
  </tr>
<% end %>
</table>

<div class="mod-menu">
<% if can? :update, @course %>
  <%= link_to image_tag('edit.png')+'Edit', edit_course_path(@course), class: 'btn' %> |
  <% end %>
<%= link_to image_tag('back.png')+'Overview', '/courses', class: 'btn' %>
</div>
