<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.user.full_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category_id %>
</p>

<% if can? :update, @course %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <% end %>
<%= link_to image_tag('back.png', class: 'btn')+'Back', '/courses' %>
