<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>

<p>
  <strong>Category:</strong>
  <%= @course.category_id %>
</p>

<div class="mod-menu">
<% if can? :update, @course %>
  <%= link_to image_tag('edit.png')+'Edit', edit_course_path(@course), class: 'btn' %> |
  <% end %>
<%= link_to image_tag('back.png')+'Back', '/courses', class: 'btn' %>
</div>
