<!DOCTYPE html>
<html>
<head>
  <title>Kama</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<% unless notice.nil? %><p class="notice"><%= notice %></p><% end %>
<% unless alert.nil? %><p class="alert"><%= alert %></p><% end %>

<div id="header">

  <%= image_tag 'header.png' %>

  <div id="navWrapper">
    <div id="navbar">
      <ul class="menu">
        <li><%= link_to 'Über Kama', '/about', class: cp('about') %></li>
        <li><%= link_to 'Kurse', '/courses', class: cp('courses') %></li>
        <li><%= link_to 'Impressum', '/impressum', class: cp('impressum') %></li>
      </ul>
      <%= image_tag 'navbar_logo.png', id: 'navLogo' %>
    </div>
  </div>

</div>

<div id="content">

<%= yield %>

</div>

</body>
</html>
